<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img [src]="movie().poster_path | sourceFromTheMovie" [alt]="movie().title " class="img-fluid" />
      <button type="button" class="btn btn-warning" (click)="theMovieFeature.postToWatchlist(movie().id)">Ajouter aux favories</button>
    </div>
    <div class="col-md-6">
      <h2>{{ movie().title }}</h2>
      <p><strong>Original Title:</strong> {{ movie().original_title }}</p>
      <p><strong>Release Date:</strong> {{ movie().release_date }}</p>
      <p><strong>Runtime:</strong> {{ movie().runtime }} minutes</p>
      <p><strong>Popularity:</strong> {{ movie().popularity }}</p>
      <p><strong>Vote Average:</strong> {{ movie().vote_average }}</p>
      <p><strong>Vote Count:</strong> {{ movie().vote_count }}</p>
      <p><strong>Overview:</strong></p>
      <p>{{ movie().overview }}</p>
      <p><strong>Genres:</strong></p>
      <ul>
        <li *ngFor="let genre of movie().genres">{{ genre.name }}</li>
      </ul>
      <p><strong>Production Companies:</strong></p>
      <ul>
        <li *ngFor="let company of movie().production_companies">{{ company.name }}</li>
      </ul>
      <p><strong>Production Countries:</strong></p>
      <ul>
        <li *ngFor="let country of movie().production_countries">{{ country.name }}</li>
      </ul>
      <p><strong>Spoken Languages:</strong></p>
      <ul>
        <li *ngFor="let language of movie().spoken_languages">{{ language.name }}</li>
      </ul>
      <p><strong>Homepage:</strong> <a href="{{ movie().homepage }}" target="_blank">{{ movie().homepage }}</a></p>
      <p><strong>IMDb ID:</strong> {{ movie().imdb_id }}</p>
      <p><strong>Tagline:</strong> {{ movie().tagline }}</p>
      <p><strong>Revenue:</strong> {{ movie().revenue | currency:'USD':'symbol':'1.0-0' }}</p>
      <p><strong>Budget:</strong> {{ movie().budget | currency:'USD':'symbol':'1.0-0' }}</p>
      <p><strong>Status:</strong> {{ movie().status }}</p>
      <p><strong>Adult:</strong> {{ movie().adult ? 'Yes' : 'No' }}</p>
      <p><strong>Video Available:</strong> {{ movie().video ? 'Yes' : 'No' }}</p>
      <!-- Vous pouvez afficher d'autres propriétés du film ici en fonction de vos besoins -->
    </div>
  </div>
</div>