.card-body {
  position: absolute;
  margin: auto;
  h5{
    text-align: center;
    text-shadow: 1px 1px white;
  }
}

a {
  position: relative;
}

img{
  filter: grayscale(100%);}

img:hover{
  filter: grayscale(0%);
}
